.multi-series-chart-container {
  width: 100%;
  height: 300px;
  position: relative;

  .loading, .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #e5e7eb;
  }
}

