trigger:
  branches:
    include:
    - develop
    - main
    exclude:
    - feature/*
  paths:
    include:
    - CharonApp/**
    - CharonApp/azure-pipelines.yml

pool:
  vmImage: 'ubuntu-latest'
  
variables:
  nodeVersion: '20.x'
  buildConfiguration: 'Release'
  projectPath: 'CharonApp/src'

jobs:
- job: Build
  displayName: 'Build and Test'
  steps:
  - task: NodeTool@0
    displayName: 'Use Node.js'
    inputs:
      versionSpec: '$(nodeVersion)'

  - task: Npm@1
    displayName: 'Install dependencies'
    inputs:
      command: 'ci'
      workingDir: '$(projectPath)'

  - task: Npm@1
    displayName: 'Run linter'
    inputs:
      command: 'custom'
      workingDir: '$(projectPath)'
      customCommand: 'run lint'
    continueOnError: true

  - task: Npm@1
    displayName: 'Run tests'
    inputs:
      command: 'custom'
      workingDir: '$(projectPath)'
      customCommand: 'test -- --watch=false --browsers=ChromeHeadless --code-coverage'
    continueOnError: true

  - task: Npm@1
    displayName: 'Build application'
    inputs:
      command: 'custom'
      workingDir: '$(projectPath)'
      customCommand: 'run build'
    env:
      NODE_ENV: 'production'

  - task: ArchiveFiles@2
    displayName: 'Archive build artifacts'
    inputs:
      rootFolderOrFile: '$(projectPath)/dist'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/CharonApp.zip'
      replaceExistingArchive: true

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Build Artifact'
    inputs:
      pathtoPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: 'charonapp-drop'
      publishLocation: 'Container'

- job: DockerBuild
  displayName: 'Build Docker Image'
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  steps:
  - task: Docker@2
    displayName: 'Build Docker image'
    inputs:
      containerRegistry: 'DockerHub'
      repository: 'charonapp'
      command: 'build'
      Dockerfile: '$(projectPath)/Dockerfile'
      buildContext: '$(projectPath)'
      tags: |
        latest
        $(Build.BuildId)

- job: Deploy
  displayName: 'Deploy to Azure App Service'
  dependsOn: DockerBuild
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  steps:
  - task: AzureRmWebAppDeployment@4
    displayName: 'Azure App Service Deploy'
    inputs:
      ConnectionType: 'AzureRM'
      azureSubscription: 'azure-Dev'
      appType: 'webAppLinux'
      WebAppName: 'charonapp'
      packageForLinux: '$(Build.ArtifactStagingDirectory)/CharonApp.zip'

